.exp-btn {
  text-align: right;
}
.add-exp-btn {
  margin: 20px;
  height: 30px;
  outline: none;
}
.exp-form {
  margin: 20px;
  height: 30px;
  outline: none;
}

.table-cards {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}
.table-cards-icon {
  font-size: 20px;
}
